.ipynb_checkpoints/
*.pyc
.idea
*.so
*.h5
Psi1Dra_Referee.ipynb
distribution_fitter_mn
fitting_test
mn_unconstrained_qprior_production
mn_unconstrained_qprior_test
mn_unconstrained_test
unconstrained_mn_malmquist
unconstrained_mn_qprior
unconstrained_mn_qprior2
TexMex.slides.html
Figures*
Completeness/*
FullFitter
ParFitter
login.cl
*.log
pyraf
uparm
data/Imaging
Gyro_arrays.pkl
HistFitterTest/
Kroupa_MRD.dill
Kroupa_MRD2.dill
LogNormalFitter/
MCMC_Samples/
Master_RV.csv
NormalFitter/
Padova_points.npy
ParFitter_backup/
PowerLawFitter/
Primary_Parameters.csv
Simulation_Data.h5.gz
SpecFitter/
Untitled.ipynb
backup/

bokeh_rv_comparison.html
chains/
comp.pkl
data/DH2015.csv
data/Gyro.pkl
data/Gyro_interpolator.dill
data/Gyro_new.pkl
data/Gyro_old.pkl
data/Padova.tri
data/Primary_Parameters_detections.csv
data/Radius_Interpolator.pkl
irwin2008.tsv
AllCompanions.csv
BetaFitter/
paper/ms.aux
paper/ms.bbl
paper/ms.blg
paper/ms.pdf
paper/ms.synctex.gz